In [48]:
import pandas as pd

df = pd.read_csv("pokemon_data.csv")
df.head(3)

# df_xlsx = pd.read_excel("pokemon_data.xlsx")
# df_xlsx.head(3)

# df_text = pd.read_csv("pokemon_data.txt", delimiter = "\t")
# df_text.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [43]:
## Read Headers
# df.columns

## Read each column
# df["Name"][0:5]
# df.Name
# df[["Name", "Type 1", "HP"]]

## Read each row
# df.iloc[0]
# df.iloc[0:3]
# for index, row in df.iterrows():
#     print(index, row["Name"])

## Reading rows with some condition
# df.loc[df["Type 1"] == "Grass"][0:5]

## Read a specific location
# df.iloc[1,2]

In [50]:
## description of data
df.describe()
# df

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000